* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

/* UTILITIES */
.cont-icons::after,
.cont-services::after,
.cont.text::after,
.cont-num::after {
    content: '';
    display: table;
    clear: both;
}

/* HEADER */
.cont-header {
    width: 100%;
    height: 120px;
}

.cont-logo {
    border-right: 1px solid #f0f0f0;
} 

.cont-logo img {
    width: 130px;
    margin-top: 25px;
    margin-left: 30px;
    cursor: pointer;
}

.cont-logo,
.nav-links {
    position: absolute;
}

.cont-logo,
.cont-icons {
    width: 190px;
    height: 120px;
}

.nav-links {
    display: flex;
    justify-content: center;
    width: 36%;
    height: 30px;
    text-align: center;
    list-style: none;
    margin-left: 32%;
    margin-top: 48px;
}

.nav-links a:hover {
    color: #1ab895;
    transition: .2s;
}

.nav-links a {
    padding: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #444444;
    font-weight: bold;
}

.cont-icons {
    float: right;
    border-left: 1px solid #f0f0f0;
}

.cont-icons i {
    font-size: 20px;
    color: #333333;
}

.cont-icons .fa-facebook-f {
    margin-left: 44px;
    margin-top: 45px;
}

.cont-icons .fa-twitter,
.cont-icons .fa-linkedin-in {
    margin-left: 25px;
}

/* MAIN */
.cont-main {
    width: 100%;
}

.cont-main img {
    width: 100%;
    background-repeat: no-repeat;
}

.cont-main h2,
.cont-main .border-left,
.cont-main .border-right,
.cont-main h1,
.cont-main .line-dark,
.cont-main p {
    position: absolute;
}

.cont-main h2 {
    top: 41.2%;
    left: 44%;
    font-weight: 600;
    font-size: 24px;
}

.cont-main h2,
.cont-main h1 {
    text-transform: uppercase;
    color: #212529;
}

.cont-main .border-left {
    left: 40%;
}

.cont-main .border-left,
.cont-main .border-right {
    width: 50px;
    top: 42.1%;
}

.cont-main .border-right {
    left: 58.7%;
}

.cont-main h1 {
    font-size: 58px;
    font-weight: 900;
    top: 45%;
    left: 37.3%;
}

.cont-main .line-dark {
    width: 55px;
    top: 44.2%;
    left: 54.5%;
    color: #2d2d2d;
}

.cont-main p {
    top: 53%;
    left: 41.7%;
    font-size: 20px;
    color: #262b2f;
}

/* SOLUTIONS */
.cont-solutions { 
    height: 535px;
}

.cont-solutions .title {
    text-align: center;
    margin-top: 70px;
    font-size: 30px;
    font-weight: 900;
}

.cont-solutions .text-1 {
    margin-top: 20px;
}

.cont-solutions .text-1,
.cont-solutions .text-1-1 {
    text-align: center;
    font-size: 25px;
    font-weight: 200;
}

.cont-solutions .text-1-1 {
    margin-top: 10px;
}

.cont-solutions .text-2 {
    margin-top: 30px;
}

.cont-solutions .text-2,
.cont-solutions .text-2-1 {
    text-align: center;
    font-size: 20px;
    color: #858a8d;
}

.cont-solutions .text-2-1 {
    margin-top: 5px;
}

/* SERVICES (sections) */
.section-1 {
    width: 250px;
    height: 200px;
    margin-top: 20px;
    margin-left: 21%;
}

.section-1 .fa-tablet-alt {
    margin-top: 40px;
    margin-left: 45%;
}

.section-1 .title1 {
    margin-top: 15px;
    margin-left: 30.6%;
}

.section-1 .text1 {
    margin-top: 15px;
    margin-left: 8%;
}

.section-1 .text1-1 {
    margin-top: 8px;
    margin-left: 14.8%;
}

.section-1,
.section-2,
.section-3,
.section-4 {
    float: left;
}

.section-1 .fa-tablet-alt,
.section-2 .fa-layer-group,
.section-3 .fa-search,
.section-4 .fa-tv {
    font-size: 40px;
    color: #3cba9f;
}

.section-1 .title1,
.section-2 .title2,
.section-3 .title3,
.section-4 .title4 {
    font-size: 18px;
    font-weight: 900;
}

.section-1 .text1,
.section-1 .text1-1,
.section-2 .text2,
.section-2 .text2-1,
.section-3 .text3,
.section-3 .text3-1,
.section-4 .text4,
.section-4 .text4-1{
    font-size: 18px;
    color: #858a8d;
}

.section-2 {
    width: 250px;
    height: 160px;
    margin-top: 51px;
    margin-left: 42px;
}

.section-2 .fa-layer-group {
    margin-top: 9px;
    margin-left: 41%;
}

.section-2 .title2 {
    margin-top: 15px;
    margin-left: 21%;
}

.section-2 .text2 {
    margin-top: 14px;
    margin-left: 7%;
}

.section-2 .text2-1 {
    margin-top: 8px;
    margin-left: 13.8%;
}

.section-3 {
    width: 250px;
    height: 160px;
    margin-top: 51px;
    margin-left: 42px;
}

.section-3 .fa-search {
    margin-top: 8px;
    margin-left: 41%;
}

.section-3 .title3 {
    margin-top: 15px;
    margin-left: 21%;
}

.section-3 .text3 {
    margin-top: 14px;
    margin-left: 7%;
}

.section-3 .text3-1 {
    margin-top: 8px;
    margin-left: 13.8%;
}

.section-4 {
    width: 250px;
    height: 160px;
    margin-top: 51px;
    margin-left: 42px;
}

.section-4 .fa-tv {
    margin-top: 8px;
    margin-left: 38%;
}

.section-4 .title4 {
    margin-top: 15px;
    margin-left: 23%;
}

.section-4 .text4 {
    margin-top: 14px;
    margin-left: 7%;
}

.section-4 .text4-1 {
    margin-top: 8px;
    margin-left: 13.8%;
}

/* COMPANY NUMBERS */
.cont-numbers {
    width: 100%;
    height: 300px;
}

.cont-numbers img {
    width: 100%;
    background-repeat: no-repeat;
}

/* COMPANY TEXT, NUM */
.cont-text {
    position: absolute;
    top: 164%;
    left: 21%;
    width: 640px;
    height: 250px;
    background: #ddd;
}

.cont-text h5 {
    margin-top: 20px;
    text-transform: uppercase;
    color: #3cba9f;
}

.cont-text h4 {
    float: left;
    margin-top: 10px;
    font-size: 28px;
}

.cont-text span {
    float: left;
    margin-top: 8px;
    margin-left: 7px;
    font-weight: 900;
    font-size: 30px;
}

.cont-text p {
    float: left;
    margin-top: 16px;
    font-size: 20px;
    color: #8e9698;
}

.cont-text button {
    padding: 15px 20px;
    margin-top: 28px;
    line-height: 16px;
    font-size: 14px;
    font-weight: bold;
    color: #1fb58c;
    background: transparent;
    border: 2px solid #1fb58c;
    text-transform: uppercase;
    cursor: pointer;
}

.cont-num {
    position: absolute;
    top: 164%;
    left: 58%;
    width: 640px;
    height: 250px;
    background: #ddd;
}

.cont-num .n1 {
    float: left;
    margin-top: 15px;
    margin-left: 23px;
    font-size: 50px;
    font-weight: 900;
}

.cont-num .text-n1 {
    position: absolute;
    margin-top: 78px;
    margin-left: 10px;
    font-size: 20px;
    color: #2e3338;
}
