* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

/* UTILITIES */
.cont-icons::after,
.cont-services::after,
.cont.text::after,
.cont-num::after,
.fa-quote-left::after,
.fa-quote-right::after,
.contact::after {
    content: '';
    display: table;
    clear: both;
}

/* HEADER */
.cont-header {
    width: 100%;
    height: 120px;
}

.cont-logo {
    border-right: 1px solid #f0f0f0;
} 

.cont-logo img {
    width: 130px;
    margin-top: 25px;
    margin-left: 30px;
    cursor: pointer;
}

.cont-logo,
.nav-links {
    position: absolute;
}

.cont-logo,
.cont-icons {
    width: 190px;
    height: 120px;
}

.nav-links {
    display: flex;
    justify-content: center;
    width: 36%;
    height: 30px;
    text-align: center;
    list-style: none;
    margin-left: 32%;
    margin-top: 48px;
}

.nav-links a:hover {
    color: #1ab895;
    transition: .2s;
}

.nav-links a {
    padding: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #444444;
    font-weight: bold;
}

.cont-icons {
    float: right;
    border-left: 1px solid #f0f0f0;
}

.cont-icons i {
    font-size: 20px;
    color: #333333;
}

.cont-icons .fa-facebook-f {
    margin-left: 44px;
    margin-top: 45px;
}

.cont-icons .fa-twitter,
.cont-icons .fa-linkedin-in {
    margin-left: 25px;
}

/* MAIN */
.cont-main {
    width: 100%;
}

.cont-main img {
    width: 100%;
    background-repeat: no-repeat;
}

.cont-main h2,
.cont-main .border-left,
.cont-main .border-right,
.cont-main h1,
.cont-main .line-dark,
.cont-main p {
    position: absolute;
}

.cont-main h2 {
    top: 41.2%;
    left: 44%;
    font-weight: 600;
    font-size: 24px;
}

.cont-main h2,
.cont-main h1 {
    text-transform: uppercase;
    color: #212529;
}

.cont-main .border-left {
    left: 40%;
}

.cont-main .border-left,
.cont-main .border-right {
    width: 50px;
    top: 42.1%;
}

.cont-main .border-right {
    left: 58.7%;
}

.cont-main h1 {
    font-size: 58px;
    font-weight: 900;
    top: 45%;
    left: 37.3%;
}

.cont-main .line-dark {
    width: 55px;
    top: 44.2%;
    left: 54.5%;
    color: #2d2d2d;
}

.cont-main p {
    top: 53%;
    left: 41.7%;
    font-size: 20px;
    color: #262b2f;
}

/* SOLUTIONS */
.cont-solutions { 
    height: 535px;
}

.cont-solutions .title {
    text-align: center;
    margin-top: 70px;
    font-size: 30px;
    font-weight: 900;
}

.cont-solutions .text-1 {
    margin-top: 20px;
}

.cont-solutions .text-1,
.cont-solutions .text-1-1 {
    text-align: center;
    font-size: 25px;
    font-weight: 200;
}

.cont-solutions .text-1-1 {
    margin-top: 10px;
}

.cont-solutions .text-2 {
    margin-top: 30px;
}

.cont-solutions .text-2,
.cont-solutions .text-2-1 {
    text-align: center;
    font-size: 20px;
    color: #858a8d;
}

.cont-solutions .text-2-1 {
    margin-top: 5px;
}

/* SERVICES (sections) */
.section-1 {
    width: 250px;
    height: 200px;
    margin-top: 20px;
    margin-left: 20%;
}

.section-1 .fa-tablet-alt {
    margin-top: 40px;
    margin-left: 45%;
}

.section-1 .title1 {
    margin-top: 15px;
    margin-left: 30.6%;
}

.section-1 .text1 {
    margin-top: 15px;
    margin-left: 8%;
}

.section-1 .text1-1 {
    margin-top: 8px;
    margin-left: 14.8%;
}

.section-1,
.section-2,
.section-3,
.section-4 {
    float: left;
}

.section-1 .fa-tablet-alt,
.section-2 .fa-layer-group,
.section-3 .fa-search,
.section-4 .fa-tv {
    font-size: 40px;
    color: #3cba9f;
}

.section-1 .title1,
.section-2 .title2,
.section-3 .title3,
.section-4 .title4 {
    font-size: 18px;
    font-weight: 900;
}

.section-1 .text1,
.section-1 .text1-1,
.section-2 .text2,
.section-2 .text2-1,
.section-3 .text3,
.section-3 .text3-1,
.section-4 .text4,
.section-4 .text4-1{
    font-size: 18px;
    color: #858a8d;
}

.section-2 {
    width: 250px;
    height: 160px;
    margin-top: 51px;
    margin-left: 42px;
}

.section-2 .fa-layer-group {
    margin-top: 9px;
    margin-left: 41%;
}

.section-2 .title2 {
    margin-top: 15px;
    margin-left: 21%;
}

.section-2 .text2 {
    margin-top: 14px;
    margin-left: 7%;
}

.section-2 .text2-1 {
    margin-top: 8px;
    margin-left: 13.8%;
}

.section-3 {
    width: 250px;
    height: 160px;
    margin-top: 51px;
    margin-left: 42px;
}

.section-3 .fa-search {
    margin-top: 8px;
    margin-left: 41%;
}

.section-3 .title3 {
    margin-top: 15px;
    margin-left: 21%;
}

.section-3 .text3 {
    margin-top: 14px;
    margin-left: 7%;
}

.section-3 .text3-1 {
    margin-top: 8px;
    margin-left: 13.8%;
}

.section-4 {
    width: 250px;
    height: 160px;
    margin-top: 51px;
    margin-left: 42px;
}

.section-4 .fa-tv {
    margin-top: 8px;
    margin-left: 38%;
}

.section-4 .title4 {
    margin-top: 15px;
    margin-left: 23%;
}

.section-4 .text4 {
    margin-top: 14px;
    margin-left: 7%;
}

.section-4 .text4-1 {
    margin-top: 8px;
    margin-left: 13.8%;
}

/* COMPANY NUMBERS */
.cont-numbers {
    width: 100%;
    height: 300px;
}

.cont-numbers img {
    width: 100%;
    background-repeat: no-repeat;
}

/* COMPANY TEXT, NUM */
.cont-text {
    position: absolute;
    top: 164%;
    left: 21%;
    width: 640px;
    height: 228px;
}

.cont-text h5 {
    margin-top: 20px;
    text-transform: uppercase;
    color: #3cba9f;
}

.cont-text p {
    float: left;
    margin-top: 10px;
    font-size: 26px;
}

.cont-text span {
    float: left;
    margin-top: 8px;
    margin-left: 7px;
    font-weight: 900;
    font-size: 30px;
}

.cont-text .text {
    float: left;
    margin-top: 16px;
    font-size: 20px;
    color: #8e9698;
}

.cont-text button {
    padding: 15px 20px;
    margin-top: 28px;
    line-height: 16px;
    font-size: 14px;
    font-weight: bold;
    color: #1fb58c;
    background: transparent;
    border: 2px solid #1fb58c;
    text-transform: uppercase;
    cursor: pointer;
}

.cont-num1 {
    position: absolute;
    top: 164%;
    left: 58%;
    width: 350px;
    height: 110px;
}

.cont-num1 .n1 {
    float: left;
    margin-top: 15px;
    margin-left: 23px;
    font-size: 50px;
    font-weight: 900;
}

.cont-num1 .text-n1 {
    position: absolute;
    margin-top: 78px;
    margin-left: 14px;
    font-size: 18px;
    color: #2e3338;
}

.cont-num1 .n2 {
    float: right;
    margin-top: 15px;
    margin-right: 13px;
    font-size: 50px;
    font-weight: 900;
}

.cont-num1 .text-n2 {
    position: absolute;
    margin-top: 78px;
    margin-left: 61%;
    font-size: 18px;
    color: #2e3338;
}

.cont-num2 {
    position: absolute;
    top: 177%;
    left: 58%;
    width: 350px;
    height: 110px;
}

.cont-num2 .n3 {
    float: left;
    margin-top: 20px;
    margin-left: 41px;
    font-size: 50px;
    font-weight: 900;
}

.cont-num2 .text-n3 {
    position: absolute;
    margin-top: 22.6%;
    margin-left: 14px;
    font-size: 18px;
    color: #2e3338;
}

.cont-num2 .n4 {
    float: right;
    margin-top: 20px;
    margin-right: 16px;
    font-size: 50px;
    font-weight: 900;
}

.cont-num2 .text-n4 {
    position: absolute;
    margin-top: 22.6%;
    margin-left: 60%;
    font-size: 18px;
    color: #2e3338;
}

/* IMGS, TEXT */
.cont-imgs {
    width: 100%;
    height: 470px;
    border-bottom: 1px solid #e3e9eb;
}

.cont-img1 {
    width: 300px;
    height: 400px;
    margin-top: 7%;
    margin-left: 22.1%;
}

.cont-img1 img {
    width: 300px;
    margin-top: 20px;
}

.cont-img1 h5 {
    margin-top: 12px;
    font-size: 13px;
    text-transform: uppercase;
    color: #3cba9f;
}

.cont-img1 h4 {
    margin-top: 10px;
    font-size: 18px;
}

.cont-img1 p {
    margin-top: 10px;
    font-size: 13.7px;
    color: #858a8d;
}

.cont-img1 a {
    position: absolute;
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #3cba9f;
}

.cont-img1 a > i {
    margin-left: 10px;
}

.cont-img2 {
    position: absolute;
    top: 190.4%;
    width: 300px;
    height: 400px;
    margin-top: 7%;
    margin-left: 40.6%;
}

.cont-img2 img {
    width: 300px;
    margin-top: 20px;
}

.cont-img2 h5 {
    margin-top: 10px;
    font-size: 13px;
    text-transform: uppercase;
    color: #3cba9f;
}

.cont-img2 h4 {
    margin-top: 10px;
    font-size: 18px;
}

.cont-img2 p {
    margin-top: 10px;
    font-size: 13.7px;
    color: #858a8d;
}

.cont-img2 a {
    position: absolute;
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #3cba9f;
}

.cont-img2 a > i {
    margin-left: 10px;
}

.cont-img3 {
    position: absolute;
    top: 190.4%;
    width: 300px;
    height: 400px;
    margin-top: 7%;
    margin-left: 59%;
}

.cont-img3 img {
    width: 300px;
    margin-top: 20px;
}

.cont-img3 h5 {
    margin-top: 10px;
    font-size: 13px;
    text-transform: uppercase;
    color: #3cba9f;
}

.cont-img3 h4 {
    margin-top: 10px;
    font-size: 18px;
}

.cont-img3 p {
    margin-top: 10px;
    font-size: 13.7px;
    color: #858a8d;
}

.cont-img3 a {
    position: absolute;
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #3cba9f;
}

.cont-img3 a > i {
    margin-left: 10px;
}

/* LOGS */
.logs {
    width: 100%;
    height: 200px;
}

.log-1,
.log-2,
.log-3,
.log-4,
.log-5,
.log-6,
.log-7 {
    position: absolute;
    display: flex;
    align-items: center;
    width: 200px;
    height: 50px;
    margin-top: 80px;
}

.log-1 {
    margin-top: 81px;
    margin-left: 18%;
}

.log-1 img {
    width: 160px;
    margin-left: 20px;
}

.log-2 {
    margin-left: 27%;
}

.log-2 img {
    width: 160px;
    margin-left: 20px;
}

.log-3 {
    margin-left: 35%;
}

.log-3 img {
    width: 160px;
    margin-left: 20px;
}

.log-4 {
    margin-left: 43%;
}

.log-4 img {
    width: 160px;
    margin-left: 20px;
}

.log-5 {
    margin-left: 51%;
}

.log-5 img {
    width: 160px;
    margin-left: 20px;
}

.log-6 {
    margin-left: 58%;
}

.log-6 img {
    width: 160px;
    margin-left: 20px;
}

.log-7 {
    margin-left: 67%;
}

.log-7 img {
    width: 160px;
    margin-left: 20px;
}

/* USER */
.cont-user {
    width: 100%;
    height: 430px;
    background: #ededed;
}

.user {
    width: 37.4%;
    height: 400px;
    margin-left: 30.2%;
}

.user img {
    width: 60px;
    margin-top: 70px;
    margin-left: 44.8%;
    border-radius: 30px;
}

.cont-user .fa-quote-left {
    float: left;
    margin-top: 8%;
    margin-left: 27.8%;
    font-size: 22px;
}

.user .text {
    margin-top: 35px;
    font-size: 20px;
    text-align: center;
    color: #20242d;
}

.user .fa-quote-right {
    float: right;
    margin-top: 11px;
    font-size: 22px;
}

.user h6 {
    margin-top: 45px;
    margin-left: 39.6%;
    font-weight: bold;
    font-size: 16px;
}

.icons {
    width: 76px;
    height: 28px;
    margin-top: 12px;
    margin-left: 43.8%;
}

.user .fa-circle {
    padding: 6px;
    font-size: 10px;
    color: #d6d6d6;
    cursor: pointer;
    transition: color .4s;
}

.user .fa-circle:hover {
    color: #fff;
}

.user .fa-circle.active {
    color: #1ab895;
}

/* FOOTER ICONS*/
.cont-footer {
    width: 100%;
    height: 180px;
    background: #20242d;
    border-bottom: 1px solid #2c3034;
}

.cont-icon {
    text-align: center;
    margin-right: 5.5%;
}

.cont-icon i {
    width: 60px;
    height: 60px;
    font-size: 16px;
    color: #fff;
    background: #2c3034;
    padding: 20px;
    border-radius: 30px;
}

.cont-icon .fa-facebook-f {
    margin-left: 44px;
    margin-top: 65px;
}

.cont-icon .fa-twitter,
.cont-icon .fa-linkedin-in {
    margin-left: 5px;
} 

/* CONTACTS */
.contacts {
    width: 100%;
    height: 118px;
    background: #20242d;
}

.contact {
    width: 88.2%;
    height: 118px;
    margin-left: 11%;
}

.contact .fa-dot-circle,
.contact .fa-whatsapp,
.contact .fa-envelope,
.contact .text1,
.contact .text2,
.contact .text3 {
    float: left;
}

.contact .fa-dot-circle {
    margin-top: 49.2px;
    color: #3cba9f;
}

.contact .text1,
.contact .text2,
.contact .text3 {
    margin-left: 4px;
    color: #b2b3b4;
}

.contact .text1 {
    margin-top: 46.3px;
}

.contact .text2 {
    margin-top: 46.4px;
}

.contact .text3 {
    margin-top: 46px;
}

.contact .fa-whatsapp,
.contact .fa-envelope {
    margin-top: 49.2px;
    margin-left: 26px;
    color: #3cba9f;
}

/* COPYRIGHT */
.contacts .copyright {
    float: left;
    margin-top: 46.4px;
    margin-left: 30%;
    color: #616b72;
}

.fa-angle-up {
    float: right;
    margin-top: 60px;
    font-size: 18px;
    padding: 20px;
    color: #fff;
    background: #38393a;
}